* {
    margin: 0;
    padding: 0;
}

.wraper {
    max-width: 85%;
    margin: 20px auto;
    text-align: justify;
    transition: 0.3s linear;
}

.wraper.show {
    padding: 0 30px 0 330px;
}

.burger {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s linear;
}

.fas {
    display: none;
}

i.show {
    display: inline-block;
}

aside.show {
    left: 0;
}

aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    background-color: black;
    width: 300px;
    transition: 0.3s linear;
}